.textbox {
    border: 1px solid var(--black);
    border-radius: 0.1rem;
    padding: 1rem 0.5rem;
}

.textarea {
    width: 100%;
    resize: none;
    outline: none;
    overflow-y: hidden;
    border: none;
    font: inherit;
}