.landingPage {
  background: url('../../assets/svg/Background.svg') no-repeat bottom;
  height: 100vh;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 4rem;
  width: 100%;
  margin: auto;
}

.head {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  animation: TextEnter 2s ease-in-out;
}

.sub {
  font-size: 1.25rem;
  animation: TextEnter 2s ease-in-out;
}

.editor {
  height: 20rem;
  max-width: 40rem;
  animation: TextEnter 2s ease-in-out;
  box-shadow: 11px 40px 12px rgba(28, 28, 28, 0.35);
}

.bgsvg {
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.btnContainer {
  width: 100%;
}

.btn {
  animation: TextEnter 2s ease-in-out;
  padding: 0.5rem 0.8rem;
  color: var(--blue);
  width: 15rem;
}

@media (max-width: 950px) {
  .container {
    text-align: center;
    width: 100%;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }

  .btnContainer {
    text-align: center;
  }

  .btn {
    margin: 2rem auto 1rem;
  }
}

@media (max-width: 800px) {
  .editor {
    display: none;
  }

  .landingPage {
    background: url('../../assets//svg/Background-mini.svg') no-repeat bottom;
  }
}

@keyframes TextEnter{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}