@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

html, body, #root {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

:root {
  --black: #1c1c1c;
  --blue: #425BE1;
  --purple: #6212B3;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}