html, body, #root {
  height: 100%;
  font-family: 'nunito', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

:root {
  --black: #1c1c1c;
  --blue: #425BE1;
  --purple: #6212B3;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}