.page {
    width: 100%;
    padding: 0 1rem;
    display: flex;
}

.codeContainer {
    width: 50%;
    padding: 0 2rem;
    border-right: 1px solid var(--black);
}

.previewContainer {
    width: 50%;
    padding: 0 0.5rem;
    border-left: 1px solid var(--black);
}

.heading {
    color: #425BE1;
    text-align: center;
}

.editor {
    height: calc(100vh - 10rem);
}

.preview {
    padding: 1rem 2rem;
    height: calc(100vh - 10rem);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 0.4rem;
    overflow-y: auto;
}